# NFL Database Project: WebScraping & Data Cleaning
<br>
CIS 761 Database Management Systems â€“ Term Project<br>
Kansas State University
<br><br>
Vishnu Bondalakunta<br>
Charles Zumbaugh<br>
James Chapman<br>
<br>

#### This notebook uses the public ESPN API. The URLs and endpoints were found in the following GitHub link. ESPN does not provide official documentation.

* ## [List of NFL API Endpoints](https://gist.github.com/nntrn/ee26cb2a0716de0947a0a4e9a157bc1c#event-competitions-api)

#### 10 tables are collected and saved as CSV files, which is used to populate the NFL database.
* games
* season_dates
* venues
* teams
* linescores
* rosters
* positions
* athletes
* plays
* player_plays

In [1]:
import pandas as pd
import numpy as np
import requests
import re

In [2]:
years = range(2013,2024) # ! Keep track of calendar year and NFL season year

ESPN_EVENTS = 'https://site.api.espn.com/apis/site/v2/sports/football/nfl/scoreboard?limit=1000&dates={}' #.format(year)
ESPN_ROSTERS = 'https://sports.core.api.espn.com/v2/sports/football/leagues/nfl/events/{}/competitions/{}/competitors/{}/roster' #.format(game_id,game_id,team_id)
ESPN_ATHLETE_INFO = 'https://site.web.api.espn.com/apis/common/v3/sports/football/nfl/athletes/{}' #.format(player_id)
ESPN_VENUE_INFO = 'http://sports.core.api.espn.com/v2/sports/football/leagues/nfl/venues/{}' #.format(venue_id)
ESPN_TEAM_INFO = 'https://site.api.espn.com/apis/site/v2/sports/football/nfl/teams/{}' #.format(team_id)
ESPN_POSITION_INFO = 'http://sports.core.api.espn.com/v2/sports/football/leagues/nfl/positions/{}' #.format(position_id)
ESPN_PLAY_BY_PLAY = 'https://sports.core.api.espn.com/v2/sports/football/leagues/nfl/events/{}/competitions/{}/plays?limit=300' #.format(game_id,game_id)
ESPN_STATISTICS = 'https://sports.core.api.espn.com/v2/sports/football/leagues/nfl/events/{}/competitions/{}/competitors/{}/roster/{}/statistics/0' #.format(game_id,game_id,team_id,player_id)

# Games

In [3]:
games = pd.DataFrame()
for year in years:
    try:
        events = requests.get(ESPN_EVENTS.format(year)).json()
        yearlyEvents = pd.json_normalize(events['events'])
        games = pd.concat([games, yearlyEvents], ignore_index=True)
    except: 
        print(year)

# games['competitions'] is a list of dictionaries 
games['attendance'] = games['competitions'].apply(lambda x : x[0]['attendance']).astype('int64')
games['venue_id'] = games['competitions'].apply(lambda x : x[0]['venue']['id']).astype('int64')

# games['competitions'][0]['competitors'] is a list of 2 dictionaries (home and away).
games['competitors'] = games['competitions'].apply(lambda x : x[0]['competitors'])

games['home_team_id'] = games['competitors'].apply(lambda x : x[0]['id']).astype('int64')
games['away_team_id'] = games['competitors'].apply(lambda x : x[1]['id']).astype('int64')

# Drop pre-season, off-season, & probowl
games = games.drop(games[(games['season.type'].isin([1, 4]))].index)
games = games.drop(games[(games['home_team_id'].isin([31,32,35,36]))].index)

# Split datetime into date/time 
# decompose date/week/season year/season type
games['datetime'] = pd.to_datetime(games['date'])
games['utc_time'] = games['datetime'].dt.strftime("%H:%M")
games['date'] = games['datetime'].dt.strftime("%Y-%m-%d")
season_dates = games[['date','season.year','season.type','week.number']].copy()

#Keep around For linescores
gameLinescores = games[['id','competitors']].copy()

# Drop rows
games = games.rename(columns={'id':'game_id'})
games = games[['game_id',
               'date',
               'attendance',
               'venue_id',
               'home_team_id',
               'away_team_id',
               'utc_time']] 
games['game_id'] = games['game_id'].astype('int64')
games.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2976 entries, 0 to 3584
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   game_id       2976 non-null   int64
 1   date          2976 non-null   object
 2   attendance    2976 non-null   int64
 3   venue_id      2976 non-null   int64
 4   home_team_id  2976 non-null   int64
 5   away_team_id  2976 non-null   int64
 6   utc_time      2976 non-null   object
dtypes: int64(5), object(2)
memory usage: 186.0+ KB

# Season_Dates

In [4]:
season_dates = season_dates.rename(columns={'season.year':'season_year',
                                          'season.type':'season_type',
                                          'week.number':'week'})
# season_types names
season_dates.loc[(season_dates['season_type']== 2),'season_type'] = 'Regular Season'
season_dates.loc[(season_dates['season_type']== 3),'season_type'] = 'Post Season'

season_dates.drop_duplicates(inplace=True)
season_dates.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 827 entries, 0 to 3584
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         827 non-null    object
 1   season_year  827 non-null    int64
 2   season_type  827 non-null    object
 3   week         827 non-null    int64
dtypes: int64(2), object(2)
memory usage: 32.3+ KB

# Venues

In [5]:
venues = pd.DataFrame()
for venue_id in pd.unique(games['venue_id']):
    try:
        venue_info = requests.get(ESPN_VENUE_INFO.format(venue_id)).json()
        venue_info = pd.json_normalize(venue_info)
        venues = pd.concat([venues, venue_info], ignore_index=True)
    except: 
        print(venue_id)

venues = venues.rename(columns={'id':'venue_id',
                                'fullName':'venue_name',
                                'address.city':'city',
                                'address.state':'state'})

venues['capacity'] = 0
venues[['venue_id','capacity']] = venues[['venue_id','capacity']].astype('int64')
capacity_data = {'NRG Stadium' : 72220,'Lambeau Field' : 81441,'M&T Bank Stadium' : 71008,'FedExField' : 67617,'Empower Field at Mile High' : 76125,'Candlestick Park' : 69732,
                 'Georgia Dome' : 71228,'Gillette Stadium' : 65878,'Caesars Superdome' : 83000,'Highmark Stadium' : 71608,'Soldier Field' : 61500,'Cleveland Browns Stadium' : 67431,
                 'Ford Field' : 65000,'Lucas Oil Stadium' : 70000,'MetLife Stadium' : 82500,'Acrisure Stadium' : 68400,'Bank of America Stadium' : 74867,'EverBank Stadium' : 67838,
                 'The Dome at America\'s Center' : 67000,'AT&T Stadium' : 80000,'SDCCU Stadium' : 70561,'GEHA Field at Arrowhead Stadium' : 76416,
                'Lincoln Financial Field' : 67594,'State Farm Stadium' : 63400,'Raymond James Stadium' : 75000,'Oakland Coliseum' : 63000,'Lumen Field' : 68740,
                'Paycor Stadium' : 65515,'Nissan Stadium' : 69143,'Mall of America Field' : 64121,'Hard Rock Stadium' : 65326,'Wembley Stadium' : 90000,'Rogers Centre' : 49286,
                 'Huntington Bank Stadium' : 50805,'Levi\'s Stadium' : 68500,'Los Angeles Memorial Coliseum' : 77500,'U.S. Bank Stadium' : 73000,'Twickenham Stadium' : 82000,
                'Estadio Azteca' : 83264,'Dignity Health Sports Park' : 27000,'Mercedes-Benz Stadium' : 71000,'Tottenham Hotspur Stadium' : 62850,'SoFi Stadium' : 70000,
                 'Allegiant Stadium' : 65000,'Allianz Arena' : 75024,'Frankfurt Stadium' : 51500}

for venue_name , capacity in capacity_data.items(): 
    venues.loc[(venues['venue_name']==venue_name) ,'capacity'] = capacity
    
# # Drop rows
venues = venues[['venue_id',
                 'venue_name',
                 'capacity',
                 'grass',
                 'indoor',
                 'city',
                 'state']]

venues.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   venue_id    46 non-null     int64
 1   venue_name  46 non-null     object
 2   capacity    46 non-null     int64
 3   grass       46 non-null     bool
 4   indoor      46 non-null     bool
 5   city        46 non-null     object
 6   state       40 non-null     object
dtypes: bool(2), int64(2), object(3)
memory usage: 2.0+ KB

# Teams

In [6]:
teams = pd.DataFrame()
for team_id in pd.unique(games['home_team_id']):
    try:
        team_info = requests.get(ESPN_TEAM_INFO.format(team_id)).json()
        team_info = pd.json_normalize(team_info)
        teams = pd.concat([teams, team_info], ignore_index=True)
    except: 
        print(team_id)

# # Drop rows
teams = teams[['team.id',
                 'team.location',
                 'team.name',
                 'team.abbreviation',
                 'team.franchise.venue.id',
                 'team.color',
                 'team.alternateColor']]
teams = teams.rename(columns={'team.id':'team_id',
                             'team.location':'location',
                             'team.name':'team_name',
                             'team.abbreviation':'abbreviation',
                             'team.franchise.venue.id':'venue_id',
                             'team.color':'primary_color',
                             'team.alternateColor':'secondary_color'})
teams[['team_id','venue_id']] = teams[['team_id','venue_id']].astype('int64')
teams.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   team_id          32 non-null     int64
 1   location         32 non-null     object
 2   team_name        32 non-null     object
 3   abbreviation     32 non-null     object
 4   venue_id         32 non-null     int64
 5   primary_color    32 non-null     object
 6   secondary_color  32 non-null     object
dtypes: int64(2), object(5)
memory usage: 1.9+ KB

# Linescores

In [7]:
linescores = pd.DataFrame(columns = ["game_id","team_id","quarter","score"])
overtimecount = 0
def eachrow(game):
    try:
        for competitor in game['competitors']: # competitors[0] = home team
            quarter = 0
            for linescore in competitor['linescores']:
                quarter += 1
                linescores.loc[len(linescores.index)] = [game['id'], 
                                                         competitor['id'],
                                                         quarter, 
                                                         linescore['value']]
    except:
        print('Game canceled-', game['id'])

junk = gameLinescores.apply(eachrow, axis=1)

linescores[['game_id','team_id','score']] = linescores[['game_id','team_id','score']].astype('int64')
linescores.info(verbose=True)

Game canceled- 400554331
Game canceled- 400951581
<class 'pandas.core.frame.DataFrame'>
Int64Index: 24140 entries, 0 to 24139
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   game_id  24140 non-null  int64
 1   team_id  24140 non-null  int64
 2   quarter  24140 non-null  int64
 3   score    24140 non-null  int64
dtypes: int64(4)
memory usage: 943.0 KB

# Rosters 

The rosters URL lists all players under 'entries'. But the position is something like thisâ€¦<br>
$ref : "http://sports.core.api.espn.com/v2/sports/football/leagues/nfl/positions/46?lang=en&region=us" <br>
This just splits the link at "positions" giving "/46?lang=en&region=us"
and then takes only numbers "46"

In [8]:
rosters = pd.DataFrame(columns = ["game_id", "team_id", "athlete_id","position_id","didNotPlay"])
def eachrow(game):
    temp_game_id = game['game_id']
    temp_home_team_id = game['home_team_id']
    temp_away_team_id = game['away_team_id']

    try:
        # Errors kept occurring with ESPN API, repeat once if error occurs
        try:
            homeRoster = requests.get(ESPN_ROSTERS.format(temp_game_id,temp_game_id,temp_home_team_id)).json()
            for player in homeRoster['entries']:
                split = re.split("positions", player['position']['$ref'])
                position_id = re.sub("[^0-9.]", "", split[1])
                rosters.loc[len(rosters.index)] = [temp_game_id, temp_home_team_id,player['playerId'], position_id, player['didNotPlay']]
        except:
            homeRoster = requests.get(ESPN_ROSTERS.format(temp_game_id,temp_game_id,temp_home_team_id)).json()
            for player in homeRoster['entries']:
                split = re.split("positions", player['position']['$ref'])
                position_id = re.sub("[^0-9.]", "", split[1])
                rosters.loc[len(rosters.index)] = [temp_game_id, temp_home_team_id,player['playerId'], position_id, player['didNotPlay']]
            print('Success 2nd try homeRoster of game # -', game['game_id'])

        # Errors kept occurring with ESPN API, repeat once if error occurs
        try:    
            awayRoster = requests.get(ESPN_ROSTERS.format(temp_game_id,temp_game_id,temp_away_team_id)).json()
            for player in awayRoster['entries']:
                split = re.split("positions", player['position']['$ref'])
                position_id = re.sub("[^0-9.]", "", split[1])
                rosters.loc[len(rosters.index)] = [temp_game_id, temp_away_team_id,player['playerId'], position_id, player['didNotPlay']]
        except:
            awayRoster = requests.get(ESPN_ROSTERS.format(temp_game_id,temp_game_id,temp_away_team_id)).json()
            for player in awayRoster['entries']:
                split = re.split("positions", player['position']['$ref'])
                position_id = re.sub("[^0-9.]", "", split[1])
                rosters.loc[len(rosters.index)] = [temp_game_id, temp_away_team_id,player['playerId'], position_id, player['didNotPlay']]
            print('Success 2nd try awayRoster of game # -', game['game_id'])
    except Exception as error:   
        print('Game canceled or Pro bowl -', game['game_id'], type(error).__name__, error)

games.apply(eachrow, axis=1)

rosters[['game_id','team_id','athlete_id','position_id']] = rosters[['game_id','team_id','athlete_id','position_id']].astype('int64')
rosters['played'] = ~rosters['didNotPlay'].astype('boolean')
rosters = rosters.drop(['didNotPlay'], axis=1)
rosters = rosters[rosters['athlete_id']!=12454] # drop problem athlete
rosters.info(verbose=True)

Game canceled or Pro bowl - 400554331 KeyError 'entries'
Game canceled or Pro bowl - 400874729 KeyError 'entries'
<class 'pandas.core.frame.DataFrame'>
Int64Index: 363340 entries, 0 to 363403
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   game_id      363340 non-null  int64
 1   team_id      363340 non-null  int64
 2   athlete_id   363340 non-null  int64
 3   position_id  363340 non-null  int64
 4   played       363340 non-null  boolean
dtypes: boolean(1), int64(4)
memory usage: 14.6 MB

# Positions

In [9]:
positions = pd.DataFrame()
for position_id in pd.unique(rosters['position_id']):
    try:
        position_info = requests.get(ESPN_POSITION_INFO.format(position_id)).json()
        position_info = pd.json_normalize(position_info)
        positions = pd.concat([positions, position_info], ignore_index=True)
    except: 
        print(position_id)

def eachrow(x):
    try:
        for competitor in game['competitors']: # competitors[0] = home team
            quarter = 0
            for linescore in competitor['linescores']:
                quarter += 1
                linescores.loc[len(linescores.index)] = [game['id'], 
                                                         competitor['id'],
                                                         quarter, 
                                                         linescore['value']]
    except:
        print('Game canceled-', game['id'])

# Drop rows
positions = positions[['id', 'name', 'abbreviation']]
positions['platoon'] = ''
positions = positions.rename(columns={'id':'position_id','name':'position_name'})

platoon_data = {'Unknown' :  pd.NA,'Defensive Tackle' : 'Defense','Running Back' : 'Offense','Tight End' : 'Offense','Defensive End' : 'Defense',
        'Wide Receiver' : 'Offense','Center' : 'Offense','Offensive Tackle' : 'Offense','Safety' : 'Defense','Guard' : 'Offense',
        'Cornerback' : 'Defense','Linebacker' : 'Defense','Quarterback' : 'Offense','Punter' : 'Special Teams',
        'Place kicker' : 'Special Teams','Long Snapper' : 'Special Teams','Fullback' : 'Offense','Nose Tackle' : 'Defense',
        'Defensive Back' : 'Defense','Offensive Lineman' : 'Offense','Defensive Lineman' : 'Defense','Athlete' :  pd.NA,'Kick Returner' : 'Special Teams','Punt Returner' : 'Special Teams'}

for position_name , platoon in platoon_data.items(): 
    positions.loc[(positions['position_name']==position_name) ,'platoon'] = platoon

positions['position_id'] = positions['position_id'].astype('int64')
positions.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   position_id    24 non-null     int64
 1   position_name  24 non-null     object
 2   abbreviation   24 non-null     object
 3   platoon        22 non-null     object
dtypes: int64(1), object(3)
memory usage: 896.0+ bytes

# Athletes

In [10]:
athletes = pd.DataFrame()
for athlete_id in pd.unique(rosters['athlete_id']):
    try:
        athlete_info = requests.get(ESPN_ATHLETE_INFO.format(athlete_id)).json()
        athlete_info = pd.json_normalize(athlete_info['athlete'])
        athletes = pd.concat([athletes, athlete_info], ignore_index=True)
    except: 
        print(athlete_id)

def split_birthplace(s: str, index: int):
    try:
        val = s.split(', ')[index]
        return val
    except:
        return ''

athletes['birth_city'] = athletes['displayBirthPlace'].apply(lambda x: split_birthplace(x, 0))
athletes['birth_state'] = athletes['displayBirthPlace'].apply(lambda x: split_birthplace(x, 1))

# Drop rows
athletes = athletes.rename(columns={'id':'athlete_id',
                                     'displayHeight':'height',
                                    'firstName':'first_name',
                                    'lastName':'last_name',
                                     'displayWeight':'weight',
                                     'displayDOB':'dob'})#'displayDraft':'drafted_bool',
athletes = athletes[['athlete_id',
                     'first_name',
                     'last_name',
                     'height',
                     'weight',
                     'dob',         #'position.id',#'team.id',#'collegeTeam.id',#'collegeAthlete.id'
                     'birth_city',  #'drafted_bool',#'debutYear',#'displayDraft']]
                     'birth_state']]#'college.id',#'jersey',#'displayJersey',#'displayExperience',

4568981

C:\Users\James\AppData\Local\Temp\ipykernel_29316\2675791498.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  athletes['birth_city'] = athletes['displayBirthPlace'].apply(lambda x: split_birthplace(x, 0))
C:\Users\James\AppData\Local\Temp\ipykernel_29316\2675791498.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  athletes['birth_state'] = athletes['displayBirthPlace'].apply(lambda x: split_birthplace(x, 1))

In [11]:
def extract_number(s: str) -> str:
    try:
        return re.match(r'[0-9]+', s).group(0)
    except:
        return pd.NA #'NULL'


def get_height_inches(height_str: str) -> int:
    # pattern of display height in [0-9]'[0-9]+" where the first
    # value is height in feet and the second is height in inches.
    try:
        matches = re.findall(r'[0-9]+', height_str)
        feet = matches[0]
        inches = matches[1]
        return int(feet) * 12 + int(inches)
    except:
        return pd.NA

def clean_date(date_string: str) -> str:
    # The date is formatted in one of several ways:
    # %M-%d-%Y
    # %M-%d-%y
    # %m-%d-%Y
    # %m-%d-%y
    try:
        date_values = re.findall(r'[0-9]+', date_string)
        day = date_values[0]
        month = date_values[1]
        year = date_values[2]
        day = '0' + day if len(day) < 2 else day
        month = '0' + month if len(month) < 2 else month
        if len(year) < 4:
            if int(year) > 24:
                year = '19' + year
            else:
                year = '20' + year
        return f'{month}-{day}-{year}'
    except:
        return ''

athletes['weight'] = athletes['weight'].apply(extract_number)
athletes['height'] = athletes['height'].apply(get_height_inches)
athletes['dob'] = athletes['dob'].apply(clean_date)
athletes.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7165 entries, 0 to 7164
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   athlete_id   7165 non-null   object
 1   first_name   7165 non-null   object
 2   last_name    7165 non-null   object
 3   height       7157 non-null   object
 4   weight       7157 non-null   object
 5   dob          7165 non-null   object
 6   birth_city   7165 non-null   object
 7   birth_state  7165 non-null   object
dtypes: object(8)
memory usage: 447.9+ KB

# Replace IDs with names
For Database Normalization. <br>
* venue_id --> venue_name
* team_id --> team_name
* position_id --> position_name

In [12]:
# Games table - venue_id, home_team_id, & away_team_id
games = games.merge(venues[['venue_id','venue_name']],how="left",on = ['venue_id'])
games = games.merge(teams[['team_id','team_name']],how="left", left_on = ['home_team_id'],right_on = ['team_id'])
games = games.rename(columns={'team_name':'home_team_name'})
games = games.drop(['team_id'], axis=1)

# away_team_id
games = games.merge(teams[['team_id','team_name']],how="left", left_on = ['away_team_id'],right_on = ['team_id'])
games = games.rename(columns={'team_name':'away_team_name'})
games = games.drop(['venue_id','away_team_id','home_team_id','team_id'], axis=1)

# teams table - venue_id
teams = teams.merge(venues[['venue_id','venue_name']],how="left",on = ['venue_id'])
teams = teams.drop(['venue_id'], axis=1)

# linescores table - team_id
linescores = linescores.merge(teams[['team_id','team_name']],how="left",on = ['team_id'])
linescores = linescores.drop(['team_id'], axis=1)

# rosters table - team_id & position_id
rosters = rosters.merge(teams[['team_id','team_name']],how="left",on = ['team_id'])
rosters = rosters.merge(positions[['position_id','position_name']],how="left",on = ['position_id'])
rosters = rosters.drop(['team_id','position_id'], axis=1)
rosters = rosters.drop(rosters[(rosters['athlete_id'].isin([4568981,2514468,17372,11717]))].index)
rosters.drop_duplicates(inplace=True)

# Drop ID columns from original tables
teams = teams.drop(['team_id'], axis=1)
venues = venues.drop(['venue_id'], axis=1)
positions = positions.drop(['position_id'], axis=1)

### Find all athletes with multiple athlete IDs

In [13]:
athletesDUPLICATES = athletes[athletes.duplicated(keep='first', subset=['first_name','last_name','dob'])][['first_name','last_name','dob']].copy()
for row in athletesDUPLICATES[athletesDUPLICATES['last_name'] != 'Team'].to_numpy():
    IdS = (athletes.loc[(athletes['first_name']==row[0])& (athletes['last_name']==row[1])& (athletes['dob']==row[2])]['athlete_id']).dropna().unique()
    print(row[0],row[1],row[2])
    print('--Change all athlete_id=',IdS[0],'to',IdS[1])
    rosters.loc[(rosters['athlete_id']==IdS[0]),'athlete_id']= IdS[1]

rosters = rosters.drop_duplicates( subset = ['game_id', 'athlete_id'], keep = 'first')

Mike Johnson 04-02-1987
--Change all athlete_id= 13279 to 2219984
Tom Johnson 08-30-1984
--Change all athlete_id= 10001 to 16695
Willie Smith 11-13-1986
--Change all athlete_id= 14447 to 2219931
Branden Albert 11-04-1984
--Change all athlete_id= 11249 to 3938599
Chris Manhertz 04-10-1992
--Change all athlete_id= 2531358 to 4071345
Brandon Scherff 12-26-1991
--Change all athlete_id= 2511708 to 4287933
De'Angelo Henderson 11-24-1992
--Change all athlete_id= 2968226 to 2565755

# Plays

In [14]:
plays = pd.DataFrame()
player_plays = pd.DataFrame(columns = ['play_id','game_id','player_id','type'])

# ignore: Plays on column that we don't use has a data type conversion
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

for game_id in games['game_id']:
    try:
        game_data = requests.get(ESPN_PLAY_BY_PLAY.format(game_id,game_id)).json()
        play_data = pd.json_normalize(game_data['items'])
        play_data['game_id'] = game_id
        plays = pd.concat([plays, play_data], ignore_index=True)
    except: 
        print(game_id)

plays = plays.rename(columns={'id':'play_id',
                             'type.text':'play_type',
                             'period.number':'quarter',
                             'clock.value':'seconds_remaining',
                              'scoreValue':'score_value',
                              'statYardage':'yards',
                              'start.down':'start_down',
                             'end.down':'end_down'})

temp = plays[['game_id','play_id','participants']].copy()

plays = plays[['play_id',
               'start_down',
               'end_down',
               'quarter',
               'play_type',
               'seconds_remaining',
               'text',
               'score_value',
               'yards']] 


plays['start_down'] = plays['start_down'].apply(lambda x: x if x >= 0 else 0)
plays['end_down'] = plays['end_down'].apply(lambda x: x if x >= 0 else 0)

# WHERE play_type is null, plays such as aborted/pending etc.
plays.loc[(plays['play_type'].isnull()),'play_type']= 'Miscellaneous'

plays[['start_down', 'end_down', 'quarter', 
       'seconds_remaining', 'score_value', 'yards']] = plays[['start_down', 'end_down', 'quarter', 
                                                              'seconds_remaining', 'score_value', 'yards']].astype('int64')

plays.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522707 entries, 0 to 522706
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   play_id            522707 non-null  object
 1   start_down         522707 non-null  int64
 2   end_down           522707 non-null  int64
 3   quarter            522707 non-null  int64
 4   play_type          522691 non-null  object
 5   seconds_remaining  522707 non-null  int64
 6   text               522707 non-null  object
 7   score_value        522707 non-null  int64
 8   yards              522707 non-null  int64
dtypes: int64(6), object(3)
memory usage: 35.9+ MB

# Player_plays

In [15]:
def eachrow(play):
    try:
        for player in play['participants']: 
            player_url = player['athlete']['$ref']
            player_id = re.search(r'(?<=athletes/)[0-9]+(?=\?)', player_url).group(0)
            player_plays.loc[len(player_plays.index)] = [play['play_id'],play['game_id'], player_id,player['type']]
    except: pass
        
junk = temp.apply(eachrow, axis=1)
player_plays.drop_duplicates(inplace=True)
player_plays.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1117098 entries, 0 to 1181784
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   play_id    1117098 non-null  object
 1   game_id    1117098 non-null  int64
 2   player_id  1117098 non-null  object
 3   type       1117098 non-null  object
dtypes: int64(1), object(3)
memory usage: 42.6+ MB

##### Check for game_ids IN player_plays & NOT IN games

In [16]:
df_joined = pd.merge(player_plays, games, how="left",on ='game_id')
df_joined[df_joined['date'].isnull()]

Empty DataFrame
Columns: [play_id, game_id, player_id, type, date, attendance, utc_time, venue_name, home_team_name, away_team_name]
Index: []

##### Check for athlete_ids IN player_plays & NOT IN athletes

In [17]:
df_joined = player_plays.merge(athletes, left_on='player_id', right_on='athlete_id', how='left')
missing_athletes = df_joined[df_joined['athlete_id'].isnull()]['player_id']
missing_athletes.info(verbose=True)
for a_id in pd.unique(missing_athletes):
    print('https://www.espn.com/nfl/player/_/id/{}'.format(a_id))

player_plays = player_plays[~player_plays['player_id'].isin(pd.unique(missing_athletes))]
player_plays.info(verbose=True)

<class 'pandas.core.series.Series'>
Int64Index: 275 entries, 1697 to 823131
Series name: player_id
Non-Null Count  Dtype
--------------  -----
275 non-null    object
dtypes: object(1)
memory usage: 4.3+ KB
https://www.espn.com/nfl/player/_/id/12454
https://www.espn.com/nfl/player/_/id/3948547
https://www.espn.com/nfl/player/_/id/3954722
https://www.espn.com/nfl/player/_/id/3956754
https://www.espn.com/nfl/player/_/id/3956762
https://www.espn.com/nfl/player/_/id/3956760
https://www.espn.com/nfl/player/_/id/3956761
https://www.espn.com/nfl/player/_/id/3956767
https://www.espn.com/nfl/player/_/id/4070083
https://www.espn.com/nfl/player/_/id/4070082
https://www.espn.com/nfl/player/_/id/4070732
https://www.espn.com/nfl/player/_/id/4071340
https://www.espn.com/nfl/player/_/id/4072194
https://www.espn.com/nfl/player/_/id/4072196
https://www.espn.com/nfl/player/_/id/4073908
https://www.espn.com/nfl/player/_/id/4076262
https://www.espn.com/nfl/player/_/id/4076275
https://www.espn.com/nfl/player/_/id/4077045
https://www.espn.com/nfl/player/_/id/4078511
https://www.espn.com/nfl/player/_/id/4079281
https://www.espn.com/nfl/player/_/id/3052549
https://www.espn.com/nfl/player/_/id/3126021
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1116823 entries, 0 to 1181784
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   play_id    1116823 non-null  object
 1   game_id    1116823 non-null  int64
 2   player_id  1116823 non-null  object
 3   type       1116823 non-null  object
dtypes: int64(1), object(3)
memory usage: 42.6+ MB

# Review

In [18]:
games = games[['game_id','date','attendance','home_team_name','away_team_name','venue_name','utc_time']] #Rearrange columns to match SQL file
games.info(verbose=True)
for column in games.columns.tolist():
    print(column,'--------',pd.unique(games[column]).size)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2976 entries, 0 to 2975
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   game_id         2976 non-null   int64
 1   date            2976 non-null   object
 2   attendance      2976 non-null   int64
 3   home_team_name  2976 non-null   object
 4   away_team_name  2976 non-null   object
 5   venue_name      2976 non-null   object
 6   utc_time        2976 non-null   object
dtypes: int64(2), object(5)
memory usage: 186.0+ KB
game_id -------- 2976
date -------- 827
attendance -------- 2309
home_team_name -------- 32
away_team_name -------- 32
venue_name -------- 46
utc_time -------- 48

In [19]:
season_dates.info(verbose=True)
for column in season_dates.columns.tolist():
    print(column,'--------',pd.unique(season_dates[column]).size)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 827 entries, 0 to 3584
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         827 non-null    object
 1   season_year  827 non-null    int64
 2   season_type  827 non-null    object
 3   week         827 non-null    int64
dtypes: int64(2), object(2)
memory usage: 32.3+ KB
date -------- 827
season_year -------- 12
season_type -------- 2
week -------- 18

In [20]:
linescores.info(verbose=True)
for column in linescores.columns.tolist():
    print(column,'--------',pd.unique(linescores[column]).size)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24140 entries, 0 to 24139
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   game_id    24140 non-null  int64
 1   quarter    24140 non-null  int64
 2   score      24140 non-null  int64
 3   team_name  24140 non-null  object
dtypes: int64(3), object(1)
memory usage: 943.0+ KB
game_id -------- 2974
quarter -------- 6
score -------- 30
team_name -------- 32

In [21]:
rosters = rosters[['game_id','team_name','athlete_id','position_name','played']] #Rearrange columns to match SQL file
rosters.info(verbose=True)
for column in rosters.columns.tolist():
    print(column,'--------',pd.unique(rosters[column]).size)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 363075 entries, 0 to 363339
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   game_id        363075 non-null  int64
 1   team_name      363075 non-null  object
 2   athlete_id     363075 non-null  object
 3   position_name  363075 non-null  object
 4   played         363075 non-null  boolean
dtypes: boolean(1), int64(1), object(3)
memory usage: 14.5+ MB
game_id -------- 2974
team_name -------- 32
athlete_id -------- 7162
position_name -------- 24
played -------- 2

In [22]:
athletes = athletes[['athlete_id','first_name','last_name','dob','height','weight','birth_city','birth_state']] #Rearrange columns to match SQL file
athletes.info(verbose=True)
for column in athletes.columns.tolist():
    print(column,'--------',pd.unique(athletes[column]).size)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7165 entries, 0 to 7164
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   athlete_id   7165 non-null   object
 1   first_name   7165 non-null   object
 2   last_name    7165 non-null   object
 3   dob          7165 non-null   object
 4   height       7157 non-null   object
 5   weight       7157 non-null   object
 6   birth_city   7165 non-null   object
 7   birth_state  7165 non-null   object
dtypes: object(8)
memory usage: 447.9+ KB
athlete_id -------- 7165
first_name -------- 2362
last_name -------- 3861
dob -------- 4308
height -------- 18
weight -------- 208
birth_city -------- 2168
birth_state -------- 75

In [23]:
venues = venues[['venue_name','capacity','city','state','grass','indoor']] #Rearrange columns to match SQL file
venues.info(verbose=True)
for column in venues.columns.tolist():
    print(column,'--------',pd.unique(venues[column]).size)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   venue_name  46 non-null     object
 1   capacity    46 non-null     int64
 2   city        46 non-null     object
 3   state       40 non-null     object
 4   grass       46 non-null     bool
 5   indoor      46 non-null     bool
dtypes: bool(2), int64(1), object(3)
memory usage: 1.7+ KB
venue_name -------- 46
capacity -------- 44
city -------- 41
state -------- 25
grass -------- 2
indoor -------- 2

In [24]:
teams = teams[['team_name','abbreviation','location','venue_name','primary_color','secondary_color']] #Rearrange columns to match SQL file
teams.info(verbose=True)
for column in teams.columns.tolist():
    print(column,'--------',pd.unique(teams[column]).size)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   team_name        32 non-null     object
 1   abbreviation     32 non-null     object
 2   location         32 non-null     object
 3   venue_name       32 non-null     object
 4   primary_color    32 non-null     object
 5   secondary_color  32 non-null     object
dtypes: object(6)
memory usage: 1.8+ KB
team_name -------- 32
abbreviation -------- 32
location -------- 30
venue_name -------- 31
primary_color -------- 29
secondary_color -------- 21

In [25]:
positions.info(verbose=True)
for column in positions.columns.tolist():
    print(column,'--------',pd.unique(positions[column]).size)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   position_name  24 non-null     object
 1   abbreviation   24 non-null     object
 2   platoon        22 non-null     object
dtypes: object(3)
memory usage: 704.0+ bytes
position_name -------- 24
abbreviation -------- 24
platoon -------- 4

In [37]:
plays = plays[['play_id','quarter','yards','score_value','play_type','text','seconds_remaining','start_down','end_down']] #Rearrange columns to match SQL file
plays.info(verbose=True)
for column in plays.columns.tolist():
    print(column,'--------',pd.unique(plays[column]).size)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522707 entries, 0 to 522706
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   play_id            522707 non-null  object
 1   quarter            522707 non-null  int64
 2   yards              522707 non-null  int64
 3   score_value        522707 non-null  int64
 4   play_type          522707 non-null  object
 5   text               522707 non-null  object
 6   seconds_remaining  522707 non-null  int64
 7   start_down         522707 non-null  int64
 8   end_down           522707 non-null  int64
dtypes: int64(6), object(3)
memory usage: 35.9+ MB
play_id -------- 522707
quarter -------- 7
yards -------- 155
score_value -------- 5
play_type -------- 45
text -------- 468633
seconds_remaining -------- 902
start_down -------- 5
end_down -------- 5

In [27]:
player_plays = player_plays[['play_id','player_id','game_id','type']] #Rearrange columns to match SQL file
player_plays.info(verbose=True)
for column in player_plays.columns.tolist():
    print(column,'--------',pd.unique(player_plays[column]).size)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1116823 entries, 0 to 1181784
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   play_id    1116823 non-null  object
 1   player_id  1116823 non-null  object
 2   game_id    1116823 non-null  int64
 3   type       1116823 non-null  object
dtypes: int64(1), object(3)
memory usage: 42.6+ MB
play_id -------- 428322
player_id -------- 5511
game_id -------- 2696
type -------- 20

# Save

In [38]:
#######################################
games.to_csv('data/games.csv', index=False)
season_dates.to_csv('data/season_dates.csv', index=False)
linescores.to_csv('data/linescores.csv', index=False)
rosters.to_csv('data/rosters.csv', index=False)
athletes.to_csv('data/athletes.csv', index=False)
venues.to_csv('data/venues.csv', index=False)
teams.to_csv('data/teams.csv', index=False)
positions.to_csv('data/positions.csv', index=False)
plays.to_csv('data/plays.csv', index=False)
player_plays.to_csv('data/player_plays.csv', index=False)
#######################################

In [29]:
: )

SyntaxError: unmatched ')' (2155285666.py, line 1)